css,{{ "src/scss/basic-ng-template.scss" | compiled_name }},{{ "src/scss/basic-ng-template.scss" | hash }}
js,{{ "src/js/basic-ng-template.js" | compiled_name }},{{ "src/js/basic-ng-template.js" | hash }}